.gestion{
    position: static;
    @include caja(100px,300px,150px);
    @include media (tablet){
        margin-right: 15px;
    }
    &__logo img{
    width: 100px;
   

    }
    &__iconos{
        display: flex;

        &--imagen{
            background-color:$veryDarkBlue;
            padding: 10px;
            margin-top: 20px;
            margin-right: 10px;
            border-radius: 10px;
        }

        img{
            width: 20px;
 
        }
    }

}